n8n/lead-magnet-email-workflow.json
{
  "name": "Lead Magnet — Tower Garden Cost Comparison PDF",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-magnet-tower-garden",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Supabase Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lead-magnet-tower-garden",
      "notes": "Receives INSERT events from Supabase database webhook on newsletter_subscribers table.\n\nSetup in Supabase Dashboard:\n1. Go to Database → Webhooks\n2. Create new webhook\n3. Table: newsletter_subscribers\n4. Events: INSERT\n5. Type: HTTP Request\n6. Method: POST\n7. URL: <your-n8n-instance>/webhook/lead-magnet-tower-garden\n8. Headers: Content-Type: application/json"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "source-check",
              "leftValue": "={{ $json.record.source }}",
              "rightValue": "lead_magnet",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-lead-magnet",
      "name": "Is Lead Magnet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300],
      "notes": "Only process subscribers where source = 'lead_magnet'. All other newsletter signups (footer, account profile) are ignored."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://povudgtvzggnxwgtjexa.supabase.co/functions/v1/resend-send-email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  to: $json.record.email,\n  subject: 'Your Free 2026 Tower Garden Cost Comparison',\n  html: `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background: #f3f4f6; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #10b981 0%, #047857 100%); color: white; padding: 40px 30px; text-align: center; border-radius: 12px 12px 0 0; }\n    .header h1 { margin: 0 0 8px; font-size: 24px; }\n    .header p { margin: 0; opacity: 0.9; font-size: 15px; }\n    .content { background: #ffffff; padding: 32px; border-radius: 0 0 12px 12px; }\n    .download-box { background: #f0fdf4; border: 2px solid #bbf7d0; border-radius: 12px; padding: 28px; text-align: center; margin: 24px 0; }\n    .download-box p { color: #166534; margin: 0 0 16px; font-size: 15px; }\n    .button { display: inline-block; background: #10b981; color: #ffffff !important; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 16px; }\n    .button:hover { background: #047857; }\n    .bonus-box { background: #fef3c7; border-radius: 8px; padding: 20px; margin: 24px 0; }\n    .bonus-box h3 { color: #92400e; margin: 0 0 8px; font-size: 16px; }\n    .bonus-box p { color: #78350f; margin: 0; font-size: 14px; }\n    .footer-text { color: #9ca3af; font-size: 12px; text-align: center; margin-top: 24px; }\n    .footer-text a { color: #6b7280; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Your Free Guide Is Here!</h1>\n      <p>2026 Tower Garden Cost Comparison</p>\n    </div>\n    <div class=\"content\">\n      <p>Hi${$json.record.first_name ? ' ' + $json.record.first_name : ' there'},</p>\n      <p>Thanks for requesting the 2026 Tower Garden Cost Comparison! Here's everything you need to see how much you can save growing at home.</p>\n\n      <div class=\"download-box\">\n        <p><strong>Click below to download your free PDF:</strong></p>\n        <a href=\"YOUR_PDF_DOWNLOAD_URL_HERE\" class=\"button\">Download the Guide</a>\n      </div>\n\n      <div class=\"bonus-box\">\n        <h3>🌱 Don't Forget Your Free Seedlings!</h3>\n        <p>As mentioned in the guide, new growers get a complimentary seedling starter pack with their first order. Just shop at <a href=\"https://deux.atlurbanfarms.com\" style=\"color: #047857; font-weight: bold;\">deux.atlurbanfarms.com</a> — no code needed!</p>\n      </div>\n\n      <p>Questions about Tower Gardens or getting started? Just reply to this email — we're happy to help.</p>\n\n      <p>Happy growing!<br><strong>The ATL Urban Farms Team</strong></p>\n    </div>\n    <p class=\"footer-text\">\n      ATL Urban Farms · Atlanta, GA<br>\n      <a href=\"https://deux.atlurbanfarms.com\">deux.atlurbanfarms.com</a><br>\n      You received this because you requested the Tower Garden Cost Comparison guide.\n    </p>\n  </div>\n</body>\n</html>`\n}) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "send-email",
      "name": "Send PDF Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 220],
      "notes": "Calls the existing resend-send-email edge function to deliver the PDF guide.\n\nBEFORE ACTIVATING:\n1. Replace YOUR_PDF_DOWNLOAD_URL_HERE with the actual PDF URL (Supabase Storage public URL or external host)\n2. Set the SUPABASE_ANON_KEY environment variable in n8n, or hardcode the apikey header value\n3. If using HTTP Header Auth credential, configure it with: Name: 'Authorization', Value: 'Bearer <anon-key>'"
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Not Lead Magnet (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 420],
      "notes": "Other newsletter signups (footer, account_profile, etc.) are ignored by this workflow."
    },
    {
      "parameters": {
        "content": "## Lead Magnet Email Delivery\n\n**Trigger:** Supabase database webhook fires on every INSERT to `newsletter_subscribers`.\n\n**Filter:** Only rows with `source = 'lead_magnet'` proceed to email delivery.\n\n**Email:** Calls the existing `resend-send-email` Supabase Edge Function with a branded HTML email containing the PDF download link.\n\n### Setup Checklist\n1. ☐ Upload the PDF to Supabase Storage (bucket: `media`) or external host\n2. ☐ Replace `YOUR_PDF_DOWNLOAD_URL_HERE` in the email HTML with the actual URL\n3. ☐ Create the Supabase Database Webhook (see Webhook node notes)\n4. ☐ Set `SUPABASE_ANON_KEY` as an n8n environment variable\n5. ☐ Test with a manual webhook trigger\n6. ☐ Activate the workflow",
        "height": 380,
        "width": 340
      },
      "id": "sticky-note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, -100]
    }
  ],
  "connections": {
    "Supabase Webhook": {
      "main": [
        [
          {
            "node": "Is Lead Magnet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead Magnet?": {
      "main": [
        [
          {
            "node": "Send PDF Email via Resend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Lead Magnet (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "marketing"
    },
    {
      "name": "email"
    }
  ],
  "triggerCount": 1
}
